.projectsMain {
    height: auto;
    display: flex;
    background-color: #4a4e69;
}

.projectsTitleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: sticky;
    top: 0;
    width: 15vw;
    height: 100vh;
    background-color: #22223b;
    font-family: 'Righteous', cursive;
    color: #f2e9e4;
    font-size:35px;
}
.projectsTitleDiv p {
    padding: 0 0 0 5vw;
    margin: 0;
}

.projectsUl {
    font-family: 'Nunito', sans-serif;
    list-style: none;
    width: 80vw;
}

.projectsUl {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 60px 0;
    height: auto;
    padding: 0;
}
.projectsLiLeft li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projectsLiRight li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectsLiH3 {
   color: #f2e9e4;
   text-decoration: none;
}
.projectsLiP {
    color: #f2e9e4;
    text-decoration: none;
}
.projectsLiImg {
    display: none;
}


/* large screens */
@media screen and (min-width: 768px) {
    .projectsLiLeft {
        border: solid 2px #f2e9e4;
        height: 600px;
        width: 300px;
        margin: 10vh 10vw;
        align-self: flex-end;
    }
    .projectsLiRight {
        border: solid 2px #f2e9e4;
        height: auto;
        width: 300px;
        margin: 10vh 10vw;
        align-self: flex-start;
    }
}

/* small screens */
@media screen and (max-width: 767px) {
    .projectsLiLeft, .projectsLiRight {
        border: solid 2px #f2e9e4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 90%;
        align-self: center;
        margin: 20px 0;
    }
}