/* .projectRoutePage {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
} */

.projectRouteMain {
    background-color: #f4f1de;
    font-family: 'Nunito', sans-serif;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
}

.projectRouteHeader {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(10, 10, 10);
    display: flex;
    align-items: center;
}
.projectRouteBackButton {
    color: #f4f1de;
    font-size: 22px;
    margin-left: 30px;
    text-decoration: none;
}
.projectRouteHeaderIcon {
    font-size: 18px;
    margin: 0 5px;
    padding: 0

}
.projectRouteTitleDiv {
    background-color: #81b29a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    color: #3d405b;
}

.projectRouteTitleLink {
    font-size: 25px;
    padding: 10px;
    color: #3d405b;
}
.projectRouteTitleLink:hover {
    color: #f2cc8f;
}

.projectRouteInfoTop {
    height: auto;
    margin: 1rem;
}
.projectRouteDescriptionDiv {
    color: #f4f1de;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectRouteDescriptionDiv p {
    width: 90%;
}
.projectRouteDescriptionSpan {
    color: #3d405b;
}
.projectRouteChallengeDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 2px #3d405b;
    color: #3d405b;
}
.projectRouteChallengeDiv h2 {
    text-align: center;
    padding: 0;
    margin: 1.5rem 0 0 0;
}
.projectRouteChallengeDiv p {
    padding: 1.5rem;
    text-align: justify;
    margin: 0;
}
.projectRouteInfoBottom {
    height: auto;
    margin: 1rem;
}
.projectRouteStackLinkDiv {
    display: flex;
    flex-direction: column;
}
.projectRouteSolutionDiv {
    background-color: #3d405b;
    border: solid 2px #3d405b;
    color: #f4f1de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projectRouteSolutionDiv h2 {
    text-align: center;
    padding: 0;
    margin: 1.5rem 0 0 0;
}
.projectRouteSolutionDiv p {
    padding: 1.5rem;
    text-align: justify;
    margin: 0;
}
.projectRouteStackDiv {
    width: 100%;
    background-color: #3d405b;
    border: solid 2px #3d405b;
    color: white;
    margin-bottom: 1rem;
    height: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projectRouteStackDiv h3 {
    text-align: center;
    padding: 0 0 10px 0;
    margin: 0;
}
.projectRouteStackUl {
    list-style: none;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.projectRouteStackUl li {
    background-color: #f2cc8f;
    border-radius: 5px;
    color: #3d405b;
    padding: 3px;
    margin: 3px;
    width: auto;
}
.projectRouteLinkDiv {
    width: 100%;
    border: 2px solid #3d405b;
    color: #3d405b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectRouteLinkDiv a {
    font-size: 40px;
    color: #e07a5f;
    padding: 20px;
}



/* large screens */
@media screen and (min-width: 768px) {
    .projectRouteTitle {
        padding: 0;
        margin: 0;
        font-size: 40px;
    }
    .projectRouteSubtitle {
        padding: none;
        margin: 10px 0;
        font-size: 20px;
    }
    .projectRouteInfoTop {
        display: flex;
        flex-direction: row;
    }
    .projectRouteDescriptionDiv {
        height: auto;
        width: 38%;
        background-color: #e07a5f;
        border: solid 2px #e07a5f;
        margin-right: 1rem;
     }
     .projectRouteChallengeDiv {
        width: 60%;
     }
     .projectRouteInfoBottom {
        display: flex;
     }
     .projectRouteStackLinkDiv {
        height: auto;
        width: 38%;
        margin-right: 1rem;
     }
     .projectRouteSolutionDiv {
        width: 60%;
     }
    

}

/* small screens */
@media screen and (max-width: 767px) {
    .projectRouteTitle {
        padding: 0;
        margin: 0;
        font-size: 30px;
    }
    .projectRouteSubtitle {
        padding: none;
        margin: 10px 0;
        font-size: 18px;
    }
    .projectRouteInfoTop {
        display: flex;
        flex-direction: column;
    }
    .projectRouteDescriptionDiv {
        width: 100%;
        background-color: #e07a5f;
        border: solid 2px #e07a5f;
        margin-bottom: 1rem;
     }
     .projectRouteChallengeDiv {
        width: 100%;
     }
     .projectRouteInfoBottom {
        display: flex;
        flex-direction: column;
     }
     .projectRouteStackLinkDiv {
        width: 100%;
        margin-bottom: 1rem;
     }
     .projectRouteStackDiv {
        padding: 25px 0;
     }
     .projectRouteSolutionDiv {
        width: 100%;
     }
}