.skillsMain {
    min-height: 100vh;
    height: auto;
    background-color: #22223b;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}
.skillsDesignDiv1 {
    background-color: #9a8c98;
    position: absolute;
    height: 70vh;
    width: 70%;
    z-index: 1;
    top: 135vh;
    left: 15%;
    border-radius: 50%;
    transform: rotate(20deg);
}
.skillsDesignDiv2 {
    background-color: #4a4e69;
    position: absolute;
    height: 70vh;
    width: 70%;
    z-index: 2;
    top: 135vh;
    left: 15%;
    border-radius: 50%;
    transform: rotate(-5deg);
}

.skillsDiv {
    color: #f2e9e4;
    z-index: 99;
    position: absolute;
    width: 50%;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skillsTitle {
    font-size: 35px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
}
.skillsParagraph {
    width: 80%;
}

.skillsUl {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.skillsSkill {
    border: 2px #f2e9e4 solid;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 5px;
}
.skillsSkill:hover {
    background-color:#22223b;
}

@media screen and (max-width: 880px) {
    .skillsSkill {
        font-size: 14px;
    }
    .skillsParagraph {
        font-size: 14px;
        padding: 0;
        padding-top: 20px;
        margin: 0;
    }
    .skillsDesignDiv1 {
        display: none;
    }
    .skillsDesignDiv2 {
        display: none;
    }
    .skillsDiv {
        width: 100%;
    }
    .skillsUl {
        width: 80%;
    }
}

