.skillsMain {
    height: 100vh;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.skillsDesignDiv1 {
    background-color: rgb(112, 156, 141);
    /* background-image: radial-gradient(rgb(131, 185, 167), rgb(112, 156, 141)); */
    position: absolute;
    height: 70vh;
    width: 70%;
    z-index: 1;
    top: 125vh;
    left: 15%;
    border-radius: 50%;
    transform: rotate(20deg);
}
.skillsDesignDiv2 {
    background-color: rgb(35, 46, 42);
    position: absolute;
    height: 70vh;
    width: 70%;
    z-index: 2;
    top: 125vh;
    left: 15%;
    border-radius: 50%;
    transform: rotate(-5deg);
}

.skillsDiv {
    color: white;
    z-index: 99;
    position: absolute;
    width: 50%;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skillsTitle {
    font-size: 35px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Righteous', cursive;
}
.skillsParagraph {
    width: 80%;
}

.skillsUl {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.skillsSkill {
    border: 2px white solid;
    border-radius: 5px;
    padding: 3px 5px;
    margin: 5px;
}
.skillsSkill:hover {
    background-color:rgb(10, 10, 10);
}

@media screen and (max-width: 880px) {
    .skillsSkill {
        font-size: 14px;
    }
    .skillsParagraph {
        font-size: 14px;
        padding: 0;
        padding-top: 20px;
        margin: 0;
    }
    .skillsDesignDiv1 {
        display: none;
    }
    .skillsDesignDiv2 {
        display: none;
    }
    .skillsDiv {
        width: 100%;
    }
    .skillsUl {
        width: 80%;
    }
}

